body{
    font-size: 16px;    
    color: #fff;
}
main{
    position: relative;
    z-index: 2;
}
.navigation{
    li{
        cursor: pointer;
        transition: all .5s;
        &:hover{
            opacity: .3;
        }
    }
}
.canvas{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.canvas-text{
    @extend .canvas;
    position: absolute;
}
.folder-title{
    margin-top: 100px;
}
.title{
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin: 0;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    color: rgba(0,0,0,0);
    position: relative;
    z-index: 2;
}