body{
    font-size: 16px;    
    color: #fff;
}
main{
    position: relative;
    z-index: 2;
}
.navigation{
    li{
        cursor: pointer;
        transition: all .5s;
        &:hover{
            opacity: .3;
        }
    }
}
.canvas{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.title{
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    transition: all .5s ease-in-out;
    text-shadow:   var(--x-shadow)  var(--y-shadow) rgba(255,255,255,.5);
    text-transform: uppercase;
}